.body {
    background-color: beige;
}

.styletext1 {
    margin-right: 80px;
    margin-left: 80px;
    border: solid thick black;
    background-color: rgb(182, 189, 196);
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}